.Filters {
    width: 15vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-sizing: border-box;
    flex-shrink: 0;
    padding-top: 6vh;
    background: #dadada;
}

.dark {
    background: rgba(24, 23, 25, 0.8);
    backdrop-filter: blur(4px);
}

.dark .label:hover {
    color: silver;
}

.dark .accordion:hover {
    background: rgba(24, 23, 25, 0.1);
}

.label:hover {
    color: #0a8afd;
}

.activeLabel {
    color: #000;
}

.accordion:hover {
    background: rgba(255, 255, 255, .4);
    transition: 0.5s;
}