.Details {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    box-sizing: border-box;
    background: url("images/backdrop-1280x720.jpg") 0 0/100% fixed;
    color: black;
}


.Details > main {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 8vh;
}

.left {
    width: 30%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 5vw;
}

#poster {
    width: 300px;
}

.right {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    padding: 0 2vw 2vw;
    border-radius: 10px;
    font-weight: 900;
}

#title {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 800;
    color: #ed6c02;
}

.right > p {
    max-width: 50vw;
    font-size: 18px;
}

#over {
    font-weight: 700;
}

.genres {
    height: 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.genres > button {
    margin-right: 15px;
}

section img {
    width: 50px;
    margin-right: 10px;
    border-radius: 5px;
}
