.Wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background: #f6f6f6;
    padding: 3vh 2vw;
}

.Wrap > h1 {
    width: 100%;
    align-items: start;
    font-size: 38px;
    font-weight: 500;
    padding-left: 0.7vw;
}

.Wrap > p {
    padding-left: 0.7vw;
    font-size: 15px;
    color: #6b6662;
}

.dark {
    background: #6b6662;
}

.dark > p {
    color: #000;
}

.queries {
    margin-right: auto;
    margin-left: 0.4vw;
}

.box {
    min-width: 10.5vw;
    flex-flow: wrap;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 0 1vw;
    margin: 1.5vh 0.7vw;
    background: #e9e9e9;
    border-left: solid 4px #62d681;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.search > h4 {
    font-size: 18px;
    margin: 0;
}

.search p {
    font-size: 15px;
    margin: 0 10px 0 0;
}

#cancel:hover {
    color: #e60000;
}

.cardsList {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    padding: 3vh 0 0;
}

/*-----------------------------------*/

.Card {
    width: 10.5vw;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
    transition: 0.2s;
    margin-bottom: 2vh;
    cursor: pointer;
}

.darkCard {
    background: #8b8880;
}

.Card:hover {
    color: #0a8afd;
    transition: 0.2s;
}

.darkCard:hover {
    color: white;
}

.Card > p {
    margin: auto 4px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}


.Card img {
    width: 100%;
    height: 32vh;
    transition: 0.2s;
}

.Card img:hover {
    filter: brightness(120%) contrast(120%);
    transition: 0.2s;
}

.saved {
    width: 50%;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
}

.saved > h2 {
    width: 97%;
    background: rgba(24, 23, 25, 0.75);
    backdrop-filter: blur(4px);
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
}